<section>
  <nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
  <header class="avatar" *ngIf="user.photoUrl">
		<img [src]="user.photoUrl" />
    <h2>{{user.name}}</h2>
  </header>
	<ul>
    <li tabindex="1" class="icon-dashboard btn" [routerLink]="['/proyectos']" routerLinkActive="active"><span>Proyectos</span></li>
    <li tabindex="2" class="icon-customers btn" [routerLink]="['/tareas']" routerLinkActive="active"><span>Tareas</span></li>
    <li tabindex="3" class="icon-users btn"     [routerLink]="['/refi']" routerLinkActive="active"><span>Miembros</span></li>
    <li tabindex="4" class="icon-users btn"     [routerLink]="['/chat']" routerLinkActive="active"><span>Chat</span></li>  
  </ul>
  <ul>
    <li tabindex="5" class="icon-settings btn" (click)="onLogout()"><span>Salir</span></li>
  </ul>
</nav>  
</section>


<section class="row mt-5 container-miembros" >
    <div class="col-12 ">
      <!-- <button class="btn btn-primary float-right mb-5 col-3">No vale verga este boton</button>
       --><table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Correo</th>
            <th scope="col">Proyecto</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <tbody *ngFor="let user of users">
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td><div class="dropdown">
              <select #selectProyectos id="selectProyectos" class="ml-3 custom-select">
                  <option value="0">Seleccione</option>
                  <option *ngFor="let proyecto of proyectos; let i of index;" 
                  [value]="proyecto.id">{{proyecto.name}}</option>
                  </select>
            </div>
            </td>
        </tbody>
      </table>
    </div>
  </section>