<section>
  <nav class="menu" tabindex="0">
	<div class="smartphone-menu-trigger"></div>
  <header class="avatar" *ngIf="user.photoUrl">
		<img [src]="user.photoUrl" />
    <h2>{{user.name}}</h2>
  </header>
	<ul>
    <li tabindex="1" class="icon-dashboard btn" [routerLink]="['/proyectos']" routerLinkActive="active"><span>Proyectos</span></li>
    <li tabindex="2" class="icon-customers btn" [routerLink]="['/tareas']" routerLinkActive="active"><span>Tareas</span></li>
    <li tabindex="3" class="icon-users btn"     [routerLink]="['/refi']" routerLinkActive="active"><span>Miembros</span></li>
    <li tabindex="4" class="icon-users btn"     [routerLink]="['/chat']" routerLinkActive="active"><span>Chat</span></li>  
  </ul>
  <ul>
    <li tabindex="5" class="icon-settings btn" (click)="onLogout()"><span>Salir</span></li>
  </ul>
</nav>  
</section>


<section class="row mt-5 container-miembros" >
    <div class="col-12 ">
      <!-- <button class="btn btn-primary float-right mb-5 col-3">No vale verga este boton</button>
       --><table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Rol</th>
            <th scope="col">Proyecto</th>
            <th scope="col">&nbsp;</th>
            <th scope="col">&nbsp;</th>
          </tr>
        </thead>
        <td><input type="roles" name="roles" class="form-control" placeholder="roles" [(ngModel)]="roles" required minlength="6"></td>
        <td><div class="dropdown">
          <select #selectProyectosPersonal  id="selectProyectosPersonal"  (change)="cambiarTipoProyectoPersonal(selectProyectosPersonal.value)"   class="ml-3 custom-select">
              <option value="0">Seleccione</option>
              <option *ngFor="let proyecto of proyectos;" 
              [value]="proyecto.Project_id">{{proyecto.name}}</option>
              </select>
        </div></td>
        <td><button pButton type="button" label="Agregar" class="ui-button-rounded" (click)="onAddRol()"></button></td>
      </table>
    </div>
  </section>


  <section class="mt-5 container-tasks">
    <h3>Roles</h3>
    <td><div class="dropdown">
      <select #selectProyecto  id="selectProyecto"  (change)="cambiarTipoProyecto(selectProyecto.value)"   class="ml-3 custom-select">
          <option value="0">Seleccione</option>
          <option *ngFor="let proyecto of proyectos;" 
          [value]="proyecto.Project_id">{{proyecto.name}}</option>
          </select>
    </div></td>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Rol</th>
          <th scope="col">Link</th>
          <th scope="col">&nbsp;</th>
        </tr>

      <tr *ngFor="let roles of rols; let indice=index">
            <td>{{roles.nombre}}</td>

            <td>{{roles.rol}}</td>
            <td id=link>https://sunday-5fc9e.web.app/unirse/{{roles.link}}</td>
            <td><button pButton type="button" label="Asignar" class="ui-button-rounded" (click)="copyToClipboard()"></button></td>
          </tr>
          </thead>
        </table>
</section>