<div class="header">
  <div class="sides">
    <a href="#" class="logo">Sunday</a>
  </div>
  <div class="sides">
    <a
      href="#"
      class="logo-2"
      [routerLink]="['/login']"
      routerLinkActive="active">
      Log In
    </a>
  </div>
  
</div>
<section class="content">
  <h3 class="section-subtitle align-center fonts-style light pb-3 display-5">
    Un gestor de proyectos es Sunday una herramienta de planificación de
    proyectos con la que podemos controlar sus recursos, coordinar al equipo,
    evaluar el seguimiento del proyecto y elaborar planes de contingencia, para
    una toma de decisiones eficaz.
  </h3>
</section>
<!--aqui empiezan las imagenes con info-->

<!--   <p align="center"><a href="https://twitter.com/JesusRosalesRo3" class="btn" target="_b">asdasdasdadsasdas</a></p>    -->
<!--   <div class="section-btn pt-3 align-center"> <a class="btn btn-md btn-primary display-4" href="#">VIEW COLLECTION</a> </div>    -->

<!--
Esto se puede agregar como referencias
  
  
  <div class="info">
  <h4><a href="#info">DESCUBRE</a></h4>
    <h1>SUNDAY</h1>
    <div class="meta">
      <a  href="https://twitter.com/JesusRosalesRo3" target="_b" class="author"></a><br>
      By <a href="https://twitter.com/JesusRosalesRo3" target="_b">Rosales Issac</a> on Sept 18, 2019
    </div>
  </div> 


-->
