
<!-- antes del footer un espacio para que no se vea encimado-->
<section>    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 col-md-8 align-center">
                <h3 class="section-subtitle align-center fonts-style light pb-3 display-5">
                     
                </h3>
                <h2 class="section-title align-center fonts-style bold display-2">
                     </h2>
            </div>
        </div>
    </div>
  </section>
  
  
  <section class="footer" id="footer">
    <div class="container">
        <div class="row justify-content-center align-center">
          <div class="col-md-4 list-column">
            <h3 class="section-title fonts-style bold display-7">Aserca de nosotros
            </h3>
            <hr>
            <div class="list counter-container fonts-style display-4">
              <ul>
                <li><a href="https://github.com/pokoyop97/sunday-2/tree/master/Sunday" class="text-secondary">Buscar</a></li>
                <li><a href="https://github.com/pokoyop97/sunday-2/tree/master/Sunday" class="text-secondary">Aserca de nosotros</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 list-column">
            <h3 class="section-title fonts-style bold display-7">Aserca de
            </h3>
            <hr>
            <div class="list counter-container fonts-style display-4">
              <ul>
                <li><a href="https://github.com/pokoyop97/sunday-2/tree/master/Sunday" class="text-secondary">Terminos</a></li>
                <li><a href="https://github.com/pokoyop97/sunday-2/tree/master/Sunday" class="text-secondary">Contactanos</a></li>
              </ul>
            </div>
          </div>
        </div>
        <hr>
        <div class="info">
          <h4><a href="#info">DESCUBRE</a></h4>
            <h1>SUNDAY</h1>
            <div class="meta">
              <a  href="https://github.com/pokoyop97/sunday-2/tree/master/Sunday" target="_b" class="author"></a><br>
              By <a href="https://github.com/pokoyop97/sunday-2/tree/master/Sunday" target="_b">Rosales Issac</a> on Sept 18, 2019
            </div>
          </div> 
        <!-- 
        <div class="row align-center justify-content-center">
          <div class="col-md-12">
            <ul class="card-support">
                <li>
                    <img src="../../assets/visa.png" height="30" alt="Visa" media-simple="true">
                </li>
                <li>
                    <img src="../../assets/master-card.png" height="30" alt="Master Card" media-simple="true">
                </li>
                <li>
                    <img src="../../assets/american-express.png" height="30" alt="American Express" media-simple="true">
                </li>
                <li>
                    <img src="../../assets/paypal.png" height="30" alt="PayPal" media-simple="true">
                </li>
                
                <li>
                    <img src="../../assets/discover.png" height="30" alt="Discover" media-simple="true">
                </li>
                <li>
                    <img src="../../assets/amazon.png" height="30" alt="Amazon" media-simple="true">
                </li>
            </ul>
           
          </div>
        </div> -->
    </div>
  </section>