
<!-- antes del footer un espacio para que no se vea encimado-->
<section>    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-6 col-md-8 align-center">
                <h3 class="section-subtitle align-center fonts-style light pb-3 display-5">
                     
                </h3>
                <h2 class="section-title align-center fonts-style bold display-2">
                     </h2>
            </div>
        </div>
    </div>
  </section>
  
  
  <section class="footer" id="footer">
    <div class="container">
        <div class="row justify-content-center align-center">
          <div class="col-md-4 list-column">
            <h3 class="section-title fonts-style bold display-7">Aserca de nosotros
            </h3>
            <hr>
            <div class="list counter-container fonts-style display-4">
              <ul>
                <!-- <li><a href="https://github.com/pokoyop97/sunday-2/tree/master/Sunday" class="text-secondary">Buscar</a></li> -->
                <div class="sides"><a href="#"class="logo-2"[routerLink]="['/1']"routerLinkActive="active">SSD</a>
                  </div>
                <li><a href="https://github.com/pokoyop97/sunday-2/tree/master/Sunday" class="text-secondary">Aserca de nosotros</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 list-column">
            <h3 class="section-title fonts-style bold display-7">Aserca de
            </h3>
            <hr>
            <div class="list counter-container fonts-style display-4">
              <ul>
                <li><a href="https://github.com/pokoyop97/sunday-2/tree/master/Sunday" class="text-secondary">Terminos</a></li>
                <li><a href="https://github.com/pokoyop97/sunday-2/tree/master/Sunday" class="text-secondary">Contactanos</a></li>
              </ul>
            </div>
          </div>
        </div>
        <hr>
        <div class="info">
          <h4><a href="#info">DESCUBRE</a></h4>
            <h1>SUNDAY</h1>
            <div class="meta">
              <a  href="https://github.com/pokoyop97/sunday-2/tree/master/Sunday" target="_b" class="author"></a><br>
              By <a href="https://github.com/pokoyop97/sunday-2/tree/master/Sunday" target="_b">Rosales Issac</a> on Sept 18, 2019
            </div>
          </div> 
    </div>
  </section>