<app-navbar></app-navbar>
<section class="features1 photo" id="info" >
  <div class="container-fluid">
      <div class="row main align-items-center">
          <div class="col-md-6 image-element align-self-stretch">
              <div class="img-wrap" style="width: 80%; height: 80%;">
                  <img src="../../assets/a.jpg" media-simple="true">
              </div>
          </div>
          <div class="col-md-6 text-element">
              <div class="text-content">
                  <h2 class="title pt-2 fonts-style align-center display-2">
                      Equipo de Trabajo
                  </h2>
                  <div class="section-text">
                      <p class="text pt-3 light fonts-style align-center display-5">
                          El equipo de trabajo lo decides tu, y puedes administrarlo en cualquier momento.
                      </p>
                  </div>

              </div>
          </div>
      </div>
  </div>          
</section>
<!--imagen en reversa se usara el photo-2-->
<section class="features1 photo-2" >
    <div class="container-fluid">
      <div class="row main align-items-center">
          <div class="col-md-6 image-element align-self-stretch">
              <div class="img-wrap" style="width: 80%; height: 80%;">
                  <img src="../../assets/b.jpg" media-simple="true">
              </div>
          </div>
          <div class="col-md-6 text-element">
              <div class="text-content">
                  <h2 class="title pt-2 fonts-style align-center display-2">
                      Tareas
                  </h2>
    
                  <div class="section-text">
                      <p class="text pt-3 light fonts-style align-center display-5">
                          Podras asignar tareas para cada miembro del equipo.
                      </p>
                  </div>
    
              </div>
          </div>
      </div>
    </div>          
    </section>
    <section class="features1 photo" >
      <div class="container-fluid">
          <div class="row main align-items-center">
              <div class="col-md-6 image-element align-self-stretch">
                  <div class="img-wrap" style="width: 80%; height: 80%;">
                      <img src="../../assets/c.jpg" media-simple="true">
                  </div>
              </div>
              <div class="col-md-6 text-element">
                  <div class="text-content">
                      <h2 class="title pt-2 fonts-style align-center display-2">
                          Gestion Multiproyecto
                      </h2>
                      <div class="section-text">
                          <p class="text pt-3 light fonts-style align-center display-5">
                              Gestiona mas de un proyecto al mismo tiempo.
                          </p>
                      </div>
    
                  </div>
              </div>
          </div>
      </div>          
    </section>
    <app-footer></app-footer>
    